body {
   font-family: 'Raleway', sans-serif;
   color: #ffffff;
   background-color: rgb(0, 0, 0);   
}

.jumbotron {
    width: 100%;   
    background: rgba(251, 192, 54, 0.5);    
    color: #ffffff;
    text-shadow: 3px 3px 5px #000000;  
    border: 1px solid rgb(255, 238, 1);
    margin-top: 20px;    
}

.panel {
    background: rgba(251, 192, 54, 0.5);  
    text-shadow: 1.7px 1.7px 3px #000000;
    border: .5px solid rgb(255, 238, 1); 
}

.panel-primary >.panel-heading {
    color: #ffffff;
    font-size: 20px;  
    background: rgba(70, 180, 243, 0.5); 
    border: .5px solid rgb(255, 238, 1); 
    margin-bottom: 5px;          
}

.sidebar {
    color: #ffffff;
    background: rgba(251, 192, 54, 0.5);
    border: 1px solid rgb(255, 238, 1);  
}

h2 {
    font-size: 1.7em;
}

#slideshow {
    z-index: -5;
    width: 100%;
}

label {    
    padding-bottom: 8px;
    padding-left: 3px; 
}

#submit {
    width: 100%;
    text-shadow: 1.7px 1.7px 3px #000000;
}

.timeTable {
    background-color: none;
}

tr:hover {
    background: rgba(240,173,78, 0.801); 
}

tr:hover td {
    background: rgba(187, 107, 4, 0.801);
}

/* Media Screen */

@media screen and (max-width:980px) {  
}

@media screen and (max-width:768px) {
}

@media screen and (max-width:640px) {
}

@media (max-width: 640px) {
    #masthead {
      position: static;
    }
}

@media (max-width: 768px) {
  .sidebar {
    float: none;
    max-width: 100%;
    }
}